<div class="hero-unit">
  <h1>Bienvenidos a One Month Rails</h1>
  <p>Esta es la pagina inicial de la aplicacion
  <a href="http://onemonthrails.com" >One Month Rails</a>
  </p>

  <p>
  <%= link_to "Registrate!", "#", class: "btn btn-primary btn-large" %>
  </p>
</div>
